In [309]:
import pandas as pd

In [310]:
df = pd.read_csv("C:\\Users\\Matheus Poletto\\Desktop\\Cientista de Dados\\POS XP\\BOOTCAMP CDD\\MÓDULO 2\\TPM2\\data\\all_stocks_5yr.csv")
df

              date   open   high    low  close    volume Name
0       2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1       2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2       2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3       2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4       2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL
...            ...    ...    ...    ...    ...       ...  ...
619035  2018-02-01  76.84  78.27  76.69  77.82   2982259  ZTS
619036  2018-02-02  77.53  78.12  76.73  76.78   2595187  ZTS
619037  2018-02-05  76.64  76.92  73.18  73.83   2962031  ZTS
619038  2018-02-06  72.74  74.56  72.13  73.27   4924323  ZTS
619039  2018-02-07  72.70  75.00  72.69  73.86   4534912  ZTS

[619040 rows x 7 columns]

In [311]:
df

              date   open   high    low  close    volume Name
0       2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1       2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2       2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3       2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4       2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL
...            ...    ...    ...    ...    ...       ...  ...
619035  2018-02-01  76.84  78.27  76.69  77.82   2982259  ZTS
619036  2018-02-02  77.53  78.12  76.73  76.78   2595187  ZTS
619037  2018-02-05  76.64  76.92  73.18  73.83   2962031  ZTS
619038  2018-02-06  72.74  74.56  72.13  73.27   4924323  ZTS
619039  2018-02-07  72.70  75.00  72.69  73.86   4534912  ZTS

[619040 rows x 7 columns]

In [312]:
#1 -  Quantos registros há na planilha?
registros = df.count().iloc[0]
print(f"Existem {registros} registros na planilha.")

Existem 619040 registros na planilha.

In [313]:
#2 -  Quantos registros há na planilha para a ação da Apple (AAPL)?
df_aapl = df[(df['Name'] == 'AAPL')]
registros_aapl = df_aapl.count().iloc[0]
print(f"Existem {registros_aapl} registros de AAPL na planilha.")

Existem 1259 registros de AAPL na planilha.

In [314]:
#3 - Quantas empresas distintas têm registros nessa planilha?
df_distinct = df['Name'].nunique()
df_distinct

print(f"Existem {df_distinct} empresas distintas nessa planilha.")

Existem 505 empresas distintas nessa planilha.

In [315]:
#4 - Com qual frequência o preço de uma ação no fechamento é maior do que o preço na abertura?
maior_fechamento = round((df[(df['close'] > df['open'])].count().iloc[0])/registros*100,2)
print(f"{maior_fechamento}% das vezes o preço da ação possui fechamento maior")

51.53% das vezes o preço da ação possui fechamento maior

In [316]:
#5 - Qual o maior valor das ações da Apple (AAPL) na história?
max_valores_lista = df_aapl.select_dtypes(include=['number']).max().tolist()
max_aapl = max_valores_lista[1]
print(f"O maior valor das ações da Apple da história é {max_aapl}.")

O maior valor das ações da Apple da história é 180.1.

In [317]:
#6 - Qual ação tem a maior volatilidade? Uma forma é medir o desvio-padrão do preço de fechamento de cada ação e considerar a ação de maior desvio-padrão.

df['desvio_padrao'] = df.groupby('Name')['close'].transform('std')
df_std = df.sort_values(by= 'desvio_padrao', ascending=False)
max_std = df.groupby('Name')['desvio_padrao'].max().idxmax()
print(max_std)

PCLN

In [318]:
#7 - Qual o dia com maior volume total de negociação da bolsa?
df['total_vol_date'] = df.groupby('date')['volume'].transform('sum')
df_totalvol = df.sort_values(by= 'total_vol_date', ascending=False)
max_vol = df.groupby('date')['total_vol_date'].max().idxmax()
max_vol

'2015-08-24'

In [319]:
#8 - Qual a ação mais negociada da bolsa, em volume de transações?
df['total_vol_name'] = df.groupby('Name')['volume'].transform('sum')
df
df_vol_max_name = df.sort_values(by= 'total_vol_name', ascending=False)
vol_max_name = df.groupby('Name')['total_vol_name'].max().idxmax()
vol_max_name

'BAC'

In [320]:
df

,date,open,high,low,close,volume,Name,desvio_padrao,total_vol_date,total_vol_name
0,2013-02-08,15.07,15.12,14.63,14.75,8407500,AAL,10.957636,2210298420,11822414547
1,2013-02-11,14.89,15.01,14.26,14.46,8882000,AAL,10.957636,1948002462,11822414547
2,2013-02-12,14.45,14.51,14.10,14.27,8126000,AAL,10.957636,2438463132,11822414547
3,2013-02-13,14.30,14.94,14.25,14.66,10259500,AAL,10.957636,2442872925,11822414547
4,2013-02-14,14.94,14.96,13.16,13.99,31879900,AAL,10.957636,2609614514,11822414547
...,...,...,...,...,...,...,...,...,...,...
619035,2018-02-01,76.84,78.27,76.69,77.82,2982259,ZTS,11.981390,2491742144,4635485010
619036,2018-02-02,77.53,78.12,76.73,76.78,2595187,ZTS,11.981390,2751594961,4635485010
619037,2018-02-05,76.64,76.92,73.18,73.83,2962031,ZTS,11.981390,3598437288,4635485010
619038,2018-02-06,72.74,74.56,72.13,73.27,4924323,ZTS,11.981390,4072080890,4635485010
619039,2018-02-07,72.70,75.00,72.69,73.86,4534912,ZTS,11.981390,2865639412,4635485010

In [321]:
#9 - Quantas ações começam com a letra “A”?
quantidade_acoes_A = df[['Name']]
quantidade_acoes_A = quantidade_acoes_A.drop_duplicates()
quantidade_acoes_A = quantidade_acoes_A[quantidade_acoes_A['Name'].str.startswith("A")]
quantidade_acoes_A.count().iloc[0]

59

In [322]:
#10 - Com qual frequência o preço mais alto do dia da ação também é o preço de fechamento?
high_close = round((df[(df['close'] == df['high'])].count().iloc[0])/registros*100,2)
high_close

1.2

In [323]:
#11 - Em qual dia a ação da Apple mais subiu entre a abertura e o fechamento, de forma absoluta?
df['intervalo'] = (df['close'] - df['open'])
df_aapl = df[df['Name'] == 'AAPL']
max_intervalo_aapl = df_aapl.groupby('date')['intervalo'].max().idxmax()
max_intervalo_aapl

'2015-08-24'

In [324]:
#12 - Em média, qual o volume diário de transações das ações da AAPL?
media_vol = df_aapl['volume'].mean()
media_vol

54047899.73550437

In [325]:
#13 - Quantas ações tem 1, 2, 3, 4 e 5 caracteres em seu nome, respectivamente?
df['name_length'] = df['Name'].str.len()
df
df_carac = df.drop_duplicates(subset=['name_length', 'Name'])
contagem = df_carac['name_length'].value_counts().sort_index()
contagem

name_length
1     10
2     50
3    323
4    117
5      5
Name: count, dtype: int64

In [326]:
#14 - Qual a ação menos negociada da bolsa, em volume de transações?
df_vol_min_name = df.sort_values(by= 'total_vol_name', ascending=True)
vol_min_name = df.groupby('Name')['total_vol_name'].min().idxmin()
vol_min_name

'APTV'