In [4]:
from pyspark.sql import SparkSession

spark = SparkSession \
        .builder \
        .appName("Aula Interativa 2 - Spark SQL") \
        .getOrCreate()
    
spark.version

'3.2.1'

In [5]:
titanic_df = spark.read.csv('C:/Users/pedro.guerra/Downloads/AULAS/XPE/cientista-dados/aula2/titanic.csv', header='True', inferSchema='True')

titanic_df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [6]:
titanic_df.count()

891

In [7]:
titanic_df.groupBy('survived').count().show()

+--------+-----+
|survived|count|
+--------+-----+
|       1|  342|
|       0|  549|
+--------+-----+

In [8]:
titanic_df.createOrReplaceTempView('titanic_table')

spark.sql("SELECT survived, count(*) FROM titanic_table GROUP BY survived").show()

+--------+--------+
|survived|count(1)|
+--------+--------+
|       1|     342|
|       0|     549|
+--------+--------+

In [9]:
titanic_df.groupBy('survived').agg({"Fare": "avg"}).show()

+--------+------------------+
|survived|         avg(Fare)|
+--------+------------------+
|       1| 48.39540760233917|
|       0|22.117886885245877|
+--------+------------------+

In [10]:
spark.sql("SELECT survived, avg(fare) FROM titanic_table GROUP BY survived").show()

+--------+------------------+
|survived|         avg(fare)|
+--------+------------------+
|       1| 48.39540760233917|
|       0|22.117886885245877|
+--------+------------------+

spark.sql("SELECT age, count(*) as age_count FROM titanic_table WHERE survived == 1 GROUP BY age ORDER BY age_count DESC").show(100)

In [12]:
def uppercase(str):
        return str.upper()
    
def is_mister(name):
        return "Mr." in name
    
spark.udf.register("upperUDF", uppercase)
spark.udf.register("isMisterUDF", is_mister)

spark.sql("SELECT upperUDF(Name), Name from titanic_table WHERE isMisterUDF(Name) == True").head(5)

AnalysisException: Undefined function: 'predict'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 1 pos 7