In [1]:
import pandas as pd
import os
print(pd.__version__)

1.5.2

In [2]:
#Buscando o arquivo
DIRETORIO = "C:\\Users\\Matheus Poletto\\Desktop\\Cientista de Dados\\POS XP\\MÓDULO 2\\TPM2"
arquivo = 'dados_vendas_produtos.csv'
dados = os.path.join(DIRETORIO, arquivo)
dados

'C:\\Users\\Matheus Poletto\\Desktop\\Cientista de Dados\\POS XP\\MÓDULO 2\\TPM2\\dados_vendas_produtos.csv'

In [3]:
df = pd.read_csv(dados, sep=';', encoding='latin-1')

In [4]:
df.head(5)

,Nome do vendedor,Produto vendido,Quantidade unitária,Valor do produto,Valor da venda,Data da compra,Localização
0,Joaquim Souza,Produto B,9,33.32,299.88,12/01/2023,PI
1,Lorenzo da Luz,Produto B,10,94.38,943.80,24/03/2023,DF
2,Gustavo Henrique Moreira,Produto E,9,84.45,760.05,11/06/2022,PE
3,Lorena da Costa,Produto C,5,34.14,170.70,24/12/2022,RO
4,Caio Monteiro,Produto C,2,94.42,188.84,27/05/2022,MG

In [5]:
#Verifiando os NA
df.isna().sum()

Nome do vendedor        0
Produto vendido        11
Quantidade unitária     0
Valor do produto        7
Valor da venda         13
Data da compra          0
Localização             0
dtype: int64

In [6]:
#Dropando os NA categóricos
df.dropna(subset=['Produto vendido'], inplace=True)
df.isna().sum()

Nome do vendedor        0
Produto vendido         0
Quantidade unitária     0
Valor do produto        7
Valor da venda         13
Data da compra          0
Localização             0
dtype: int64

In [7]:
df['Valor do produto'].fillna(0, inplace=True)
df['Valor da venda'].fillna(0, inplace=True)

In [8]:
# Corrigindo os dados NaN de "Valor da venda"
#df['Valor da venda'] = df['Valor do produto'] * df['Quantidade unitária']
#df.isna().sum()

In [9]:
# Corrigindo os dados NaN de "Valor do produto"
#df['Valor do produto'] = df['Valor da venda']/ df['Quantidade unitária']
#df.isna().sum()

In [10]:
#Como não foi mais possível corrigir os NA, significa que são dados faltantes na mesma linha, portanto, dropamos
#df.dropna(subset=['Valor do produto'], inplace=True)
#df.isna().sum()

# Exportando para o banco de dados

In [11]:
#Devido a alguns arquivos terem sido exportados com erro, necessário corrigir as casas decimais
df['Valor da venda'] = df['Valor da venda'].apply(lambda x: f'{x:.2f}')
df['Valor do produto'] = df['Valor do produto'].apply(lambda x: f'{x:.2f}')

In [12]:
#Convertendo data da compra devido o professor solicitar
df['Data da compra'] = pd.to_datetime(df['Data da compra'])

C:\Users\Matheus Poletto\AppData\Local\Temp\ipykernel_4500\1991884407.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Data da compra'] = pd.to_datetime(df['Data da compra'])

In [13]:
df.to_csv("C:\\Users\\Matheus Poletto\\Desktop\\Cientista de Dados\\POS XP\\MÓDULO 2\\TPM2\\vendas_ecommerce.csv", sep = ';', encoding='latin-1', index=False)

# Armazenando dados no MySQL

In [14]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\matheus poletto\desktop\cientista de dados\pos xp\envtp2\coleta_dadostp2\lib\site-packages (2.2.4)

Conectado através de extensão no VSCODE

In [15]:
import MySQLdb
import sqlalchemy
from sqlalchemy import create_engine

In [16]:
# Preprando as informações para importar para as tabelas
df_estado = list(df.Localização.unique())
df_produto = list(df['Produto vendido'].unique())
df_vendedor = list(df['Nome do vendedor'].unique())

In [17]:
df_venda = df[['Data da compra', 'Quantidade unitária', 'Valor do produto', 'Valor da venda']]
df_venda
#, 'Localização', 'Nome do vendedor', 'Produto vendido'

    Data da compra  Quantidade unitária Valor do produto Valor da venda
0       2023-12-01                    9            33.32         299.88
1       2023-03-24                   10            94.38         943.80
2       2022-11-06                    9            84.45         760.05
3       2022-12-24                    5            34.14         170.70
4       2022-05-27                    2            94.42         188.84
..             ...                  ...              ...            ...
995     2022-09-13                    1            42.58          42.58
996     2022-12-29                    4            84.15         336.60
997     2022-12-13                    1            85.68          85.68
998     2022-06-22                    3            61.36         184.08
999     2023-06-01                    6            25.92         155.52

[989 rows x 4 columns]

In [18]:
df_estado[:80]

['PI',
 'DF',
 'PE',
 'RO',
 'MG',
 'MS',
 'MA',
 'RJ',
 'PA',
 'MT',
 'AM',
 'PB',
 'BA',
 'PR',
 'AL',
 'RS',
 'RR',
 'TO',
 'AP',
 'SC',
 'CE',
 'GO',
 'SE',
 'RN',
 'AC',
 'ES',
 'SP']

In [19]:
df_produto[:3]

['Produto B', 'Produto E', 'Produto C']

In [20]:
df_vendedor[:5]

['Joaquim Souza',
 'Lorenzo da Luz',
 'Gustavo Henrique Moreira',
 'Lorena da Costa',
 'Caio Monteiro']

Exportando os estados

In [21]:
print(df_estado)

['PI', 'DF', 'PE', 'RO', 'MG', 'MS', 'MA', 'RJ', 'PA', 'MT', 'AM', 'PB', 'BA', 'PR', 'AL', 'RS', 'RR', 'TO', 'AP', 'SC', 'CE', 'GO', 'SE', 'RN', 'AC', 'ES', 'SP']

In [22]:
user = 'root'
password = 'MathePoletto123'
host = 'localhost'
database = 'coleta_tpm2' #schema

string_conexao = f'mysql://{user}:{password}@{host}/{database}'
string_conexao #testar a string de conexão com o banco de dados.

'mysql://root:MathePoletto123@localhost/coleta_tpm2'

In [23]:
engine = sqlalchemy.create_engine(string_conexao)
conn = engine.connect()

In [24]:
# Renomeando as colunas
df = df.rename(columns={'Nome do vendedor':'nome_vendedor', 'Produto vendido':'nome_produto','Quantidade unitária':'quantidade',
                                     'Valor do produto':'valor_produto','Valor da venda':'valor_total','Data da compra':'data_compra',
                                     'Localização':'sigla_estado',})

In [25]:
# crio a tabela com os dados no banco
conn.execute('drop table if exists stg_vendas')
df.to_sql('stg_vendas', con=conn, schema='coleta_tpm2')

989

In [26]:
# refazendo no banco o valor total que foi atualizado com zero no dataframe
conn.execute("UPDATE stg_vendas SET valor_total = quantidade * valor_produto WHERE valor_total = 0;")

In [27]:
# refazendo no banco o valor do produto que foi atualizado com zero no dataframe
conn.execute("UPDATE stg_vendas SET valor_produto = valor_total / quantidade WHERE valor_produto = 0;")

In [28]:
# Pergunta 1 - Qual foi o produto mais vendido para o estado de MG?
query = """ select nome_produto, count(*) as total_vendas
            from stg_vendas
            where sigla_estado = 'MG'
            group by nome_produto
            order by 2 desc """

result = conn.execute(query)
df_output = pd.DataFrame(result.fetchall(), columns=result.keys())
print(df_output)

  nome_produto  total_vendas
0    Produto D            12
1    Produto E            11
2    Produto B             9
3    Produto A             8
4    Produto C             7

In [29]:
# Pergunta 2 - Qual foi o vendedor que mais realizou vendas?
query = """ select nome_vendedor, count(*) as total_vendas
            from stg_vendas
            group by nome_vendedor
            order by 2 desc limit 10 """

result = conn.execute(query)
df_output = pd.DataFrame(result.fetchall(), columns=result.keys())
print(df_output)

         nome_vendedor  total_vendas
0        Anthony Jesus            46
1         Pedro Araújo            20
2        Leandro Lessa            17
3  Fernanda Nascimento            14
4      Melissa Martins            13
5           Isis Ramos             2
6      Yasmin da Costa             2
7  João Felipe da Mota             2
8       Sarah da Rocha             2
9        Davi Ferreira             2

In [30]:
# Pergunta 3 - Quantas unidades vendidas o produto A obteve?
query = """ select nome_produto, sum(quantidade) as quantidade_total
            from stg_vendas
            group by nome_produto
            order by 2 desc """

result = conn.execute(query)
df_output = pd.DataFrame(result.fetchall(), columns=result.keys())
print(df_output)

  nome_produto quantidade_total
0    Produto B             1264
1    Produto C             1196
2    Produto D             1120
3    Produto E             1018
4    Produto A             1017

In [31]:
# Pergunta 4 - Qual produto teve a maior quantidade de vendas?
query = """ select nome_produto, count(*) as quantidade_vendas
            from stg_vendas
            group by nome_produto
            order by 2 desc """

result = conn.execute(query)
df_output = pd.DataFrame(result.fetchall(), columns=result.keys())
print(df_output)

  nome_produto  quantidade_vendas
0    Produto B                222
1    Produto C                205
2    Produto D                191
3    Produto E                187
4    Produto A                184

In [32]:
# Pergunta 5 - Qual é a média do valor total de vendas para os produtos vendidos no estado de Pernambuco (PE)?
query = """ select nome_produto, avg(valor_total) as media_valor_total
            from stg_vendas
            where sigla_estado = 'PE'
            group by nome_produto
            order by 2 desc """

result = conn.execute(query)
df_output = pd.DataFrame(result.fetchall(), columns=result.keys())
print(df_output)

  nome_produto  media_valor_total
0    Produto E         444.414286
1    Produto C         359.384444
2    Produto A         331.804000
3    Produto D         257.588571
4    Produto B         253.943333

In [33]:
# Pergunta 6 - Qual foi a data de venda que obteve o maior número de vendas de produtos?
query = """ select data_compra, sum(quantidade) as qtd_vendas
            from stg_vendas
            group by data_compra
            order by 2 desc limit 10 """

result = conn.execute(query)
df_output = pd.DataFrame(result.fetchall(), columns=result.keys())
print(df_output)

  data_compra qtd_vendas
0  2022-01-12         53
1  2022-09-25         49
2  2022-10-17         44
3  2022-11-30         43
4  2023-04-01         40
5  2022-09-07         40
6  2022-02-07         39
7  2023-08-05         38
8  2022-07-20         37
9  2022-03-06         37

In [34]:
# Pergunta 7 - Qual o produto teve o maior valor agregado de vendas? (valor total de vendas)?
query = """ select nome_produto, sum(valor_total) as total_vendas
            from stg_vendas
            group by nome_produto
            order by 2 desc """

result = conn.execute(query)
df_output = pd.DataFrame(result.fetchall(), columns=result.keys())
print(df_output)

  nome_produto  total_vendas
0    Produto B      70983.32
1    Produto C      65688.78
2    Produto D      60304.29
3    Produto E      54874.55
4    Produto A      52184.73

In [35]:
# Pergunta 8 - Qual vendedor alcançou o maior valor em vendas de produtos no estado de São Paulo (SP)?
query = """ select nome_vendedor, sum(valor_total) as total_vendas
            from stg_vendas
            where sigla_estado = 'SP'
            group by nome_vendedor
            order by 2 desc limit 10 """

result = conn.execute(query)
df_output = pd.DataFrame(result.fetchall(), columns=result.keys())
print(df_output)

              nome_vendedor  total_vendas
0             Dr. João Melo        842.22
1             Lucca Cardoso        806.40
2         Daniela Fernandes        772.47
3  Luiz Fernando Cavalcanti        719.00
4          Dr. Diego Castro        706.68
5       Maria Clara Azevedo        668.43
6         Giovanna Nogueira        548.40
7          Eduardo Nogueira        500.04
8              Bianca Silva        478.40
9        Dra. Júlia Peixoto        468.16

In [36]:
# Pergunta 9 - Quantos produtos distintos foram vendidos no dia 25/09/2022? (a quantidade de linhas no retorno do select é a resposta)
query = """ select distinct nome_produto as nome_produto
            from stg_vendas
            where data_compra = '2022-09-25'
            limit 10 """

result = conn.execute(query)
df_output = pd.DataFrame(result.fetchall(), columns=result.keys())
print(df_output)

  nome_produto
0    Produto A
1    Produto E
2    Produto C

In [37]:
# Pergunta 10 - Qual o produto teve o maior desvio padrão na sua quantidade de vendas?
query = """ select nome_produto, stddev(quantidade)
            from stg_vendas
            group by nome_produto
            order by 2 desc limit 10 """

result = conn.execute(query)
df_output = pd.DataFrame(result.fetchall(), columns=result.keys())
print(df_output)

  nome_produto  stddev(quantidade)
0    Produto D            2.982024
1    Produto B            2.848400
2    Produto A            2.837888
3    Produto E            2.817213
4    Produto C            2.781788